<p class="contact-us__title">
  <span>ارتباط با</span>شما میتوانید ، نظرات و انتقادات خود را برای ما بفرستید
</p>
<div class="contact-us container">
  <div class="contact-us__icons">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/imgs/svg-sprite.svg#Telegram"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/imgs/svg-sprite.svg#Twitter"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/imgs/svg-sprite.svg#Linkedin"></use>
      </svg>
    </span>
  </div>
  <div class="contact-us__address">
    <div class="icon-holder">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="./assets/imgs/svg-sprite.svg#Location"></use>
        </svg>
      </span>
      <span>ایران-اصفهان-خیابان 22 - پلاک67</span>
    </div>
    <div class="icon-holder">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="./assets/imgs/svg-sprite.svg#Calling"></use>
        </svg>
      </span>
      <span>+989132346587</span>
    </div>
    <div class="icon-holder">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="./assets/imgs/svg-sprite.svg#Message"></use>
        </svg>
      </span>
      <span>tapsi@company.com</span>
    </div>
  </div>
  <div class="contact-us__map">
    <img src="/assets/imgs/google-map.PNG" alt="map" />
  </div>
  <form class="contact-us__form">
    <h2>نظرات شما</h2>
    <input type="text" class="form-input__name" placeholder="Your Username" />
    <input type="email" class="form-input__email" placeholder="Your E-mail" />
    <textarea
      class="contact-us__message"
      id="contact-message"
      cols="20"
      rows="10"
      placeholder="Your Message"
    ></textarea>
    <button type="submit" class="btn btn--primary">Send</button>
  </form>
</div>
