<div class="main-section">
  <section class="feature container">
    <div class="feature__image-container credit-card">
      <img src="/assets/imgs/i-mac.webp" alt="corporation" />
    </div>
    <div class="feature__details">
      <h2 class="feature__title">خدمات تپسی ویژه کسب وکارها</h2>
      <p class="feature__description">
        پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان
        تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند.
        و با استفاده از آن می‌توانید ماموریت های درون‌شهری و ارسال کالاهای خود
        را به سادگی مدیریت کنید.
      </p>
      <a class="more-information" href=""
        >اطلاعات بیشتر سرویس سازمانی &#10095;</a
      >
      <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
    </div>
  </section>
  <section class="feature container">
    <div class="feature__image-container">
      <img src="/assets/imgs/macbook.webp" alt="buying" />
    </div>
    <div class="feature__details credit-card">
      <h2 class="feature__title">خرید کد اعتبار تپسی</h2>
      <p class="feature__description">
        کد اعتبار تپسی امکان استفاده از تخفیف یک تا ده درصدی سفر با تپسی را برای
        کاربران، کسب و کارها و سازمان‌ها فراهم می‌کند. تنها با صرف چند دقیقه
        می‌توانید این کد را تهیه کنید تا هزینه سفرهایتان با تپسی را کاهش دهید یا
        آن را در اختیار کارکنان و مشتریانتان بگذارید.
      </p>
      <button class="btn btn--primary">خرید کد اعتبار و تخفیف</button>
    </div>
  </section>
</div>
