    <section class="hero-section">
      <picture>
        <source
          srcset="./assets/imgs/banner.webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="./assets/imgs/banner.jpg"
          type="image/jpg"
          media="(min-width: 768px)"
        />
        <source
          srcset="./assets/imgs/banner-mobile.webp"
          type="image/webp"
          media="(max-width: 768px)"
        />
        <source
          srcset="./assets/imgs/banner-mobile.jpg"
          type="image/jpg"
          media="(max-width: 768px)"
        />
        <img alt="banner" src="./assets/imgs/banner.webp" class="banner-img" />
      </picture>
      <div class="hero-wrapper container">
        <div class="intro-btn">
          <h1>تپسی</h1>
          <h2>اپلیکیشن درخواست خودرو و پیک</h2>
          <div class="intro-center__buttons">
            <div class="intro-btn__passenger">
              <a href="">
                <span class="icon">
                 <i class="fa-solid fa-arrow-down"></i>
                </span>
                <p>دانلود اپلیکیشن مسافران</p>
              </a>
            </div>
            <div class="intro-btn__passenger">
              <a href="">
              
                  <i class="fas fa-car"></i>
                
                <p>وب اپلیکیشن مسافران</p>
              </a>
            </div>
            <div class="intro-btn__passenger">
              <a href="">
                <span class="icon">
                  <i class="fa-solid fa-motorcycle"></i>
                </span>
                <p>ثبت نام راننده موتور</p>
              </a>
            </div>
            <div class="intro-btn__passenger">
              <a href="">
                <span class="icon">
                  <i class="fas fa-user"></i>
                </span>
                <p>ثبت نام راننده خودرو</p>
              </a>
            </div>
            <div class="intro-btn__passenger">
              <a href="">
                <span class="icon">
                  <i class="fa-solid fa-arrow-down"></i>
                </span>
                <p>دانلود اپلیکیشن رانندگان</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>