 <section class="services container block">
      <h2>سرویس&zwnj;های تپسی</h2>
      <nav class="tabs">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <div class="fade-edge-left"></div>
          <div class="fade-edge-right"></div>
          <a class="tab" id="nav-classic-tab">
            <img
              src="./assets/imgs/services/cc-classic.png"
              alt="tapsi-classic-icon"
            />
            <p>تپسی کلاسیک</p>
          </a>
          <a class="tab" id="nav-tell-tab">
            <img src="./assets/imgs/services/cc-tel.png" alt="tapsi-tel-icon" />
            <p>تپسی تلفنی</p>
          </a>
          <a class="tab" id="nav-line-tab">
            <img
              src="./assets/imgs/services/cc-line.png"
              alt="tapsi-line-icon"
            />
            <p>تپسی لاین</p>
          </a>
          <a class="tab" id="nav-motopeyk-tab">
            <img
              src="./assets/imgs/services/cc-motopeyk.png"
              alt="motopeyk-icon"
            />
            <p>موتوپیک</p>
          </a>
          <a class="tab" id="nav-autopeyk-tab">
            <img
              src="./assets/imgs/services/cc-autopeyk.png"
              alt="autopeyk-icon"
            />
            <p>اتوپیک</p>
          </a>
          <a class="tab" id="nav-plus-tab">
            <img
              src="./assets/imgs/services/cc-plus.png"
              alt="tapsi-plus-icon"
            />
            <p>تپسی پلاس</p>
          </a>
          <a class="tab" id="nav-hamyar-tab">
            <img src="./assets/imgs/services/cc-hamyar.png" alt="hamyar-icon" />
            <p>همیار</p>
          </a>
        </div>
      </nav>
    <div class="feature">
        <div class="feature__image-container">
        <img class="feature__image" src="" alt="" />
      </div>
      <div class="feature__details">
        <h3 class="feature__title"></h3>
        <p class="feature__description"></p>
      </div>
    </div>
    </section>
    <!-- <script src="./assets/js/services.js"></script> -->